/* SF Mono font */
@font-face {
    font-family: "SF Mono Regular";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Regular"),
        url("../assets/fonts/SF-Mono/SFMonoRegular.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Light";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Light"),
        url("../assets/fonts/SF-Mono/SFMonoLight.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Medium";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Medium"),
        url("../assets/fonts/SF-Mono/SFMonoMedium.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Semibold";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Semibold"),
        url("../assets/fonts/SF-Mono/SFMonoSemibold.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Bold";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Bold"),
        url("../assets/fonts/SF-Mono/SFMonoBold.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Heavy";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Heavy"),
        url("../assets/fonts/SF-Mono/SFMonoHeavy.woff") format("woff");
}

.text-orientation {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

#profile-img {
    position: relative;
}

#profile-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    border: 2px solid #64ffda;
    border-radius: 4px;
    z-index: -1;
    transition: all 0.6s;
}

#profile-img:hover::after {
    transform: translateY(-5px) translatex(-5px);
}

#profile-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #64ffdb3d;
    border-radius: 4px;
}

#profile-img:hover::before {
    background-color: transparent;
}
/* 
#lista-prueba {
    position: relative;
}

#lista-prueba::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
} */

#scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

#scroll::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    height: 15px;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: #495670;

    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        color-stop(0.5, #495670),
        color-stop(0.5, transparent),
        to(transparent)
    );
    border-radius: 10px;
}

#project-img {
    position: relative;
}

#project-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #64ffdb3d;
}

#project-img:hover::after {
    background-color: transparent;
}

#hover:hover {
    transform: translateY(-5px);
}