/* SF Mono font */
@font-face {
    font-family: "SF Mono Regular";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Regular"),
        url("../assets/fonts/SF-Mono/SFMonoRegular.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Light";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Light"),
        url("../assets/fonts/SF-Mono/SFMonoLight.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Medium";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Medium"),
        url("../assets/fonts/SF-Mono/SFMonoMedium.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Semibold";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Semibold"),
        url("../assets/fonts/SF-Mono/SFMonoSemibold.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Bold";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Bold"),
        url("../assets/fonts/SF-Mono/SFMonoBold.woff") format("woff");
}

@font-face {
    font-family: "SF Mono Heavy";
    font-style: normal;
    font-weight: normal;
    src: local("SF Mono Heavy"),
        url("../assets/fonts/SF-Mono/SFMonoHeavy.woff") format("woff");
}

/* Text orientation right link */
#text-orientation {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

/* Header menu responsive */
#flex_column {
    height: 25px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    z-index: 1;
}

#btn_span_1 {
    width: 100%;
    height: 2px;
    background-color: #64ffda;
    transition: all 0.4s;
}

#btn_span_2 {
    width: 80%;
    height: 2px;
    background-color: #64ffda;
    transition: all 0.4s;
}

#btn_span_3 {
    width: 60%;
    height: 2px;
    background-color: #64ffda;
    transition: all 0.4s;
}

#flex_column:hover > #btn_span_1 {
    margin-top: 10px;
    transform: rotate(45deg) translateX(8px);
}

#flex_column:hover > #btn_span_2 {
    width: 0px;
}

#flex_column:hover > #btn_span_3 {
    transform: rotate(-45deg) translateX(8px);
    width: 100%;
}

#flex_container {
    position: absolute;
    background-color: #0a192f;
    width: 300px;
    height: 100vh;
    top: 0px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: -1;
    transform: translateX(500px);
    transition: all 0.6s;
}

#flex_column:hover ~ #flex_container {
    transform: translateX(0);
}
/* Profile img */
#profile-img {
    position: relative;
}

#profile-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    border: 2px solid #64ffda;
    border-radius: 4px;
    z-index: -1;
    transition: all 0.6s;
}

#profile-img:hover::after {
    transform: translateY(-5px) translatex(-5px);
}

#profile-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #64ffdb3d;
    border-radius: 4px;
}

#profile-img:hover::before {
    background-color: transparent;
}
/* Technologies menu scroll */
#scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

#scroll::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    height: 10px;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: #495670;

    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        color-stop(0.5, #495670),
        color-stop(0.5, transparent),
        to(transparent)
    );
    border-radius: 10px;
}

/* Projects HTML CSS img */
#project-img {
    position: relative;
}

#project-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #64ffdb3d;
}

#project-img:hover::after {
    background-color: transparent;
}

/* Projects WordPress box hover */
#hover:hover {
    transform: translateY(-5px);
}
