
@media screen and (max-width: 768px) {
    .project-overlay::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0a192fdc;
        pointer-events: none;
    }
}

.duration-1 {
    animation-duration: 0.5s !important;
}

.duration-2 {
    animation-duration: 1s !important;
}

.duration-3 {
    animation-duration: 1.2s !important;
}

.duration-4 {
    animation-duration: 1.4s !important;
}

.duration-5 {
    animation-duration: 1.6s !important;
}

.duration-6 {
    animation-duration: 1.8s !important;
}

.duration-7 {
    animation-duration: 2s !important;
}

.duration-8 {
    animation-duration: 2.2s !important;
}

.duration-9 {
    animation-duration: 2.4s !important;
}

.duration-10 {
    animation-duration: 2.6s !important;
}

.duration-11 {
    animation-duration: 3s !important;
}

.duration-12 {
    animation-duration: 3.2s !important;
}